// Colors
$light-grey: #e6e6e6 !default;
$grey:#7d7d7d !default;
$dark-grey: #333333 !default;

$primary-color: #84A3D2;
$secondary-color: #84A3D2;
$tertiary-color: #84A3D2;

$border-color: #bbb !default;
$link-color: $primary-color !default;
$font-color: #4a4a4a !default;